html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.toosmall {
  display: none;
}

@media (max-width: 500px) {
  .toosmall {
    display: block;
  }

  canvas {
    display: none;
  }
}

@media (max-height: 500px) {
  .toosmall {
    display: block;
  }

  canvas {
    display: none;
  }
}